h1{color:red;text-align: center;font-size: 40px;}
h2{color:rgb(1, 158, 124);text-align: center;font-size: 35px;}
p{color:rgb(1, 121, 158);text-align: center;font-size: 30px;}
body{background-color: rgb(161, 161, 161);}
img{height: 200px;width: 320px;margin-left:230px ;}
